[Unit]
Description=The Redeem/Replicape user interface
After=pvr.service

[Service]
Type=simple
ExecStart=/usr/bin/toggle

[Install]
WantedBy=basic.target

