*{
  color: #000;
  font-family: "Sans";
  font-size: 20px;
  /*border-image: none;*/
}

MxButton, MxButton:checked{
  padding: 7 13 7 13;
  /*border-image: none;*/
}

MxButton.mouse{
    background-image: url("/etc/toggle/style/Plain/pointer.png");
    border-image: none;
}

MxButton.fan_on		{ background-image: url("/etc/toggle/style/Plain/fan_128.png");        border-image: none; }
MxButton.fan_off	{ background-image: url("/etc/toggle/style/Plain/fandisable_128.png"); border-image: none; }

MxButton.motors_off	{ background-image: url("/etc/toggle/style/Plain/motorsoff_128.png"); border-image: none; }

MxButton.jog_arrow          {  background-image: url("/etc/toggle/style/Plain/arrow_128.png"); border-image: none; }
MxButton.jog_arrow:checked  {  background-image: url("/etc/toggle/style/Plain/arrow_disabled_128.png"); border-image: none; }

MxButton.jog_home           {  background-image: url("/etc/toggle/style/Plain/home.png");      border-image: none; }
MxButton.jog_home_z         {  background-image: url("/etc/toggle/style/Plain/z.png");         border-image: none; }
MxButton.jog_home_e         {  background-image: url("/etc/toggle/style/Plain/e.png");         border-image: none; }
MxButton.jog_home_e:checked {  background-image: url("/etc/toggle/style/Plain/h.png");         border-image: none; }
MxButton.print              {  background-image: url("/etc/toggle/style/Plain/print_128.png"); border-image: none; }
MxButton.jog                {  background-image: url("/etc/toggle/style/Plain/jog_128.png");   border-image: none; }
MxButton.temp               {  background-image: url("/etc/toggle/style/Plain/temperature_128.png"); border-image: none; }
MxButton.settings           {  background-image: url("/etc/toggle/style/Plain/settings_128.png"); border-image: none; }

/* Printer operations */
MxButton.cancel:checked     {  background-image: url("/etc/toggle/style/Plain/cancel_128.png"); border-image: none;}
MxButton.cancel{
    background-image: url("/etc/toggle/style/Plain/cancel_disabled_128.png");
    border-image: none;
}

MxButton.play:checked{
    background-image: url("/etc/toggle/style/Plain/play_128.png");
    border-image: none;
}
MxButton.play{
    background-image: url("/etc/toggle/style/Plain/play_disabled_128.png");
    border-image: none;
}

MxButton.pause:checked{
    background-image: url("/etc/toggle/style/Plain/pause_128.png");
    border-image: none;
}
MxButton.pause{
    background-image: url("/etc/toggle/style/Plain/pause_disabled_128.png");
    border-image: none;
}

/* Preheat operations */
MxButton.cold{
    background-image: url("/etc/toggle/style/Plain/heater_cold_128.png");
    border-image: none;
}
MxButton.heating{
    background-image: url("/etc/toggle/style/Plain/heater_heating_128.png");
    border-image: none;
}
MxButton.hot{
    background-image: url("/etc/toggle/style/Plain/heater_hot_128.png");
    border-image: none;
}

MxButton.cold_bed{
    background-image: url("/etc/toggle/style/Plain/heater_bed_cold_128.png");
    border-image: none;
}
MxButton.heating_bed{
    background-image: url("/etc/toggle/style/Plain/heater_bed_heating_128.png");
    border-image: none;
}
MxButton.hot_bed{
    background-image: url("/etc/toggle/style/Plain/heater_bed_hot_128.png");
    border-image: none;
}


/* Jog travel*/
MxButton.travel_01{
    background-image: url("/etc/toggle/style/Plain/travel_0.1_128.png");
    border-image: none;
}

MxButton.travel_1{
    background-image: url("/etc/toggle/style/Plain/travel_1_128.png");
    border-image: none;
}

MxButton.travel_10{
    background-image: url("/etc/toggle/style/Plain/travel_10_128.png");
    border-image: none;
}

MxButton.travel_100{
    background-image: url("/etc/toggle/style/Plain/travel_100_128.png");
    border-image: none;
}

/* Icons */
MxIcon.network{        background-image: url("/etc/toggle/style/Plain/network_128.png"); border-image: none; }
MxIcon.wifi{           background-image: url("/etc/toggle/style/Plain/wifi_128.png"); border-image: none; }
MxIcon.slicer{         background-image: url("/etc/toggle/style/Plain/slicer_128.png"); border-image: none; }
MxIcon.printer{        background-image: url("/etc/toggle/style/Plain/print_128.png"); border-image: none; }

/* FLAGS */

/* Connection */
MxButton.connection{        background-image: url("/etc/toggle/style/Plain/disconnected_128.png"); border-image: none; }
MxButton.connection:checked{background-image: url("/etc/toggle/style/Plain/connected_128.png");    border-image: none; }
MxButton.printing:checked{  background-image: url("/etc/toggle/style/Plain/play_128.png");         border-image: none; }
MxButton.printing{          background-image: none;                                          border-image: none; }
MxButton.paused:checked{    background-image: url("/etc/toggle/style/Plain/pause_128.png");        border-image: none; }
MxButton.paused{            background-image: none;                                          border-image: none; }
MxButton.heartbeat{         background-image: url("/etc/toggle/style/Plain/heartbeat_128.png");    border-image: none; }


MxLabel.wifi{
    color: #000;
    font-family: "Sans";
    font-size: 20px;
    padding: 16 20;
}

MxButton.keyboard{
    color: #000;
    font-family: "Sans";
    font-size: 20px;
    padding: 16 20;
}


