Source: toggle
Maintainer: Elias Bakken <elias@iagent.no>
Section: misc
Priority: optional
Standards-Version: 1.0.1
Build-Depends: build-essential, debhelper (>= 9), python, dh-python, python-dev, libclutter-1.0-dev, python-cairo, python-gi-cairo
X-Python-Version: 2.7

Package: toggle
Architecture: armhf
Depends: python, libtoggle1, python-cairo, python-gi-cairo
Description: Toggle software package is a graphical front end for use with Replicape.

Package: libtoggle1
Section: libs
Architecture: armhf
Depends:
Description: This is the GIR integration package for Toggle. 

Package: libtoggle-dev
Section: libdevel
Architecture: armhf
Depends: libtoggle1 (= ${binary:Version}), ${misc:Depends}
Description: dev files for libtoggle

Package: gir1.2-toggle
Architecture: any
Section: introspection
Depends:
Description: GObject introspection data for the libmash library
 This package can be used by other packages using the GIRepository format
 to generate dynamic bindings for libmash.
