[System]
# CRITICAL=50, # ERROR=40, # WARNING=30,  INFO=20,  DEBUG=10, NOTSET=0
loglevel =  20

stylesheet = /etc/toggle/style/style.css
ui = /etc/toggle/style/ui.json
plate = /etc/toggle/platforms/prusa.stl
model_folder = /usr/share/models
message_fd = /dev/toggle_1

rotation = 90
angle_min = -50
angle_max = 50
scale_min = 0.5
scale_max = 3.0

filter_events = false

[Geometry]
width = 0.2
height = 0.2
depth = 0.2

[Preheat_start]
0 = M117 Heating...
1 = M106 P1 S255
2 = M190 S65
3 = M109 S220

[Preheat_stop]
0 = M117 Stopping heating
1 = M190 S0
2 = M109 S0

